DB_NAME=wpstarter
DB_USER=wpstarter
DB_PASSWORD=wpstarter

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL=mysql://database_user:database_password@database_host:database_port/database_name

# Optional variables
DB_HOST=wp-starter-mysql # DB Host needs to be the container_name in mysql service in docker-compose.yml file
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://localhost
WP_SITEURL=${WP_HOME}/wp
WP_DEBUG=true

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

APP_KEY=

# Docker
MYSQL_PORT=3306
WEB_PORT=80

# Mail
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
